:root {
  --gap-for-pstate: 1em;
  --padding-top-p-state: 1em;
  --gap-for-pstate-head: 1em;
  --padding-psate-head: 0.5em;
}

.player-state {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: var(--gap-for-pstate);
  background-color: rgb(73, 73, 189);
  width: 100%;
  height: 100%;
  /* padding-top: var(--padding-top-p-state); */
}

.player-state-head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-for-pstate-head);
  width: 100%;
  color: black;
  background-color: brown;
  padding: var(--padding-psate-head);
}
