.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-for-flex);
  width: 100%;
  height: 100%;
  background-color: chocolate;
}

.setting-title {
  color: black;
}

.setting-item {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    color: black;
}

.setting-label {
    width: max-content;
}

.settings-back-btn {
  width: max-content;
}
