:root {
  --gap-for-flex-shop: 1em;
  --padding-shop-head: 0.5em;
  --translateY-btn: 0.1em;
  --btn-active: #3e8e41;
  --font-size-shop-350px: 1.1em;
}

.shop {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: var(--gap-for-flex-shop);
  background-color: chocolate;
  min-height: 100%;
}

.shop-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-shop-head);
  gap: var(--gap-for-flex-shop);
  width: 100%;
  color: black;
  background-color: brown;
}

.all-items-container {
  color: black;
  background-color: coral;
}

.active-shop-btn {
  background-color: var(--btn-active);
  transform: translateY(var(--translateY-btn));
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.shop-back-btn:active {
  background-color: var(--btn-active);
}

@media (min-width: 350px) {
  .shop button {
    font-size: var(--font-size-shop-350px);
  }
}